# Goal
There are many EDA notebooks for this project, so the goal of this notebook is not to make full fledged EDA, but to solve any quick doubts I have about the data at different steps of the preparation, without polluting the main notebook.

In [19]:
import pandas as pd
import data_preparation as data_prep

#Reload all modules imported with %aimport every time before executing the Python code typed. https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html
%load_ext autoreload
%autoreload explicit
%aimport data_preparation 
pd.set_option('display.max_rows', 1000)

train_df, elements_to_predict_df, stores_df, oil_df, transactions_df, special_days_df, sample_submission_df = data_prep.get_raw_dfs()#data_prep.rename_raw_dfs_cols(*data_prep.get_raw_dfs())
train_y_truth:pd.Series = train_df['sales']

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
for item in (train_df, elements_to_predict_df, stores_df, oil_df, transactions_df, special_days_df, sample_submission_df):
    display(item.head(2))

          date  store_nbr      family  sales  onpromotion
id
0   2013-01-01          1  AUTOMOTIVE    0.0            0
1   2013-01-01          1   BABY CARE    0.0            0

               date  store_nbr      family  onpromotion
id
3000888  2017-08-16          1  AUTOMOTIVE            0
3000889  2017-08-16          1   BABY CARE            0

            city      state type  cluster
store_nbr
1          Quito  Pichincha    D       13
2          Quito  Pichincha    D       13

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False

        id  sales
0  3000888    0.0
1  3000889    0.0

In [13]:
train_xy_base_df

,date,store_nbr,family,sales,onpromotion
id,,,,,
0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,2013-01-01,1,BABY CARE,0.000,0
2,2013-01-01,1,BEAUTY,0.000,0
3,2013-01-01,1,BEVERAGES,0.000,0
4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...
3000883,2017-08-15,9,POULTRY,438.133,0
3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,2017-08-15,9,SEAFOOD,16.000,0

In [11]:
for item in (train_df, elements_to_predict_df, stores_df, oil_df, transactions_df, special_days_df, sample_submission_df):
    print(item.columns)

Index(['date', 'store_nbr', 'family', 'onpromotion'], dtype='object')
Index(['date', 'store_nbr', 'family', 'onpromotion'], dtype='object')
Index(['city', 'state', 'type', 'cluster'], dtype='object')
Index(['date', 'dcoilwtico'], dtype='object')
Index(['date', 'store_nbr', 'transactions'], dtype='object')
Index(['date', 'type', 'locale', 'locale_name', 'description', 'transferred'], dtype='object')
Index(['id', 'sales'], dtype='object')

In [10]:
display('train:',train_df.head(3))

display('elements to predict:', elements_to_predict_df.head(3))
display('submission example', sample_submission_df.head(3))
display(stores_df.head(3))
display(transactions_df.head(3))

'train:'

          date  store_nbr      family  onpromotion
id
0   2013-01-01          1  AUTOMOTIVE            0
1   2013-01-01          1   BABY CARE            0
2   2013-01-01          1      BEAUTY            0

'elements to predict:'

               date  store_nbr      family  onpromotion
id
3000888  2017-08-16          1  AUTOMOTIVE            0
3000889  2017-08-16          1   BABY CARE            0
3000890  2017-08-16          1      BEAUTY            2

'submission example'

        id  sales
0  3000888    0.0
1  3000889    0.0
2  3000890    0.0

            city      state type  cluster
store_nbr
1          Quito  Pichincha    D       13
2          Quito  Pichincha    D       13
3          Quito  Pichincha    D        8

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358

In [32]:
pipeline = data_prep.create_pipeline(stores_df, oil_df, transactions_df, special_days_df, window_size=2, verbose=True) #El de date tardo mucho.
processed_train_df = pipeline[:7].fit_transform(train_df[:100000], train_y_truth[:100000])

[Pipeline] .... (step 1 of 7) Processing rename_columns, total=   0.0s
[Pipeline] .. (step 2 of 7) Processing merge_dataframes, total=   0.4s
[Pipeline]  (step 3 of 7) Processing fill_missing_oil_values, total=   0.0s
[Pipeline]  (step 4 of 7) Processing refine_special_day_reason, total=   0.2s
[Pipeline]  (step 5 of 7) Processing replace_date_with_date_related_columns, total=   0.1s
[Pipeline] .. (step 6 of 7) Processing reorder_features, total=   0.0s
[Pipeline] .. (step 7 of 7) Processing prepare_features, total=   1.0s

In [33]:
# We need to monitor memory usage because it could be more than we can handle.
processed_train_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 179 entries, oil_price to products_of_family_on_promotion
dtypes: bool(169), float64(2), int32(7), int64(1)
memory usage: 21.1 MB

In [41]:
processed_train_df.products_of_family_on_promotion[processed_train_df.products_of_family_on_promotion.isnull()]
processed_train_df['products_of_family_on_promotion'].drop_duplicates() #They are all zeroes mmm.

0    0
Name: products_of_family_on_promotion, dtype: int64

In [ ]:
PRODUCT FAMILY ON PROMOTION CONTAINS MANY ZEROES

In [34]:
#Lets see the dtypes of each column to see if we can reduce memory usage.
processed_train_df.dtypes
#special day offset lag_1 int 64
#days_since_start lag
#Store cluster lag1
#oil price lag1 all products transactions lag (float64)
#days_since_start

oil_price                                                float64
all_products_transactions                                float64
store_nbr_1.0                                               bool
store_nbr_2.0                                               bool
store_nbr_3.0                                               bool
store_nbr_4.0                                               bool
store_nbr_5.0                                               bool
store_nbr_6.0                                               bool
store_nbr_7.0                                               bool
store_nbr_8.0                                               bool
store_nbr_9.0                                               bool
store_nbr_10.0                                              bool
store_nbr_11.0                                              bool
store_nbr_12.0                                              bool
store_nbr_13.0                                              bool
store_nbr_14.0                                              bool
store_nbr_15.0                                              bool
store_nbr_16.0                                              bool
store_nbr_17.0                                              bool
store_nbr_18.0                                              bool
store_nbr_19.0                                              bool
store_nbr_20.0                                              bool
store_nbr_21.0                                              bool
store_nbr_22.0                                              bool
store_nbr_23.0                                              bool
store_nbr_24.0                                              bool
store_nbr_25.0                                              bool
store_nbr_26.0                                              bool
store_nbr_27.0                                              bool
store_nbr_28.0                                              bool
store_nbr_29.0                                              bool
store_nbr_30.0                                              bool
store_nbr_31.0                                              bool
store_nbr_32.0                                              bool
store_nbr_33.0                                              bool
store_nbr_34.0                                              bool
store_nbr_35.0                                              bool
store_nbr_36.0                                              bool
store_nbr_37.0                                              bool
store_nbr_38.0                                              bool
store_nbr_39.0                                              bool
store_nbr_40.0                                              bool
store_nbr_41.0                                              bool
store_nbr_42.0                                              bool
store_nbr_43.0                                              bool
store_nbr_44.0                                              bool
store_nbr_45.0                                              bool
store_nbr_46.0                                              bool
store_nbr_47.0                                              bool
store_nbr_48.0                                              bool
store_nbr_49.0                                              bool
store_nbr_50.0                                              bool
store_nbr_51.0                                              bool
store_nbr_52.0                                              bool
store_nbr_53.0                                              bool
store_nbr_54.0                                              bool
store_nbr_nan                                               bool
store_cluster_1.0                                           bool
store_cluster_2.0                                           bool
store_cluster_3.0                                           bool
store_cluster_4.0                                           bool
store_cluster_5.0                                           bool
store_cluster_6.0                                           bool
store_cluster_7.0                                           bool
store_cluster_8.0                                           bool
store_cluster_9.0                                           bool
store_cluster_10.0                                          bool
store_cluster_11.0                                          bool
store_cluster_12.0                                          bool
store_cluster_13.0                                          bool
store_cluster_14.0                                          bool
store_cluster_15.0                                          bool
store_cluster_16.0                                          bool
store_cluster_17.0                                          bool
store_cluster_nan                                           bool
product_family_AUTOMOTIVE                                   bool
product_family_BABY CARE                                    bool
product_family_BEAUTY                                       bool
product_family_BEVERAGES                                    bool
product_family_BOOKS                                        bool
product_family_BREAD/BAKERY                                 bool
product_family_CELEBRATION                                  bool
product_family_CLEANING                                     bool
product_family_DAIRY                                        bool
product_family_DELI                                         bool
product_family_EGGS                                         bool
product_family_FROZEN FOODS                                 bool
product_family_GROCERY I                                    bool
product_family_GROCERY II                                   bool
product_family_HARDWARE                                     bool
product_family_HOME AND KITCHEN I                           bool
product_family_HOME AND KITCHEN II                          bool
product_family_HOME APPLIANCES                              bool
product_family_HOME CARE                                    bool
product_family_LADIESWEAR                                   bool
product_family_LAWN AND GARDEN                              bool
product_family_LINGERIE                                     bool
product_family_LIQUOR,WINE,BEER                             bool
product_family_MAGAZINES                                    bool
product_family_MEATS                                        bool
product_family_PERSONAL CARE                                bool
product_family_PET SUPPLIES                                 bool
product_family_PLAYERS AND ELECTRONICS                      bool
product_family_POULTRY                                      bool
product_family_PREPARED FOODS                               bool
product_family_PRODUCE                                      bool
product_family_SCHOOL AND OFFICE SUPPLIES                   bool
product_family_SEAFOOD                                      bool
product_family_nan                                          bool
store_city_Ambato                                           bool
store_city_Babahoyo                                         bool
store_city_Cayambe                                          bool
store_city_Cuenca                                           bool
store_city_Daule                                            bool
store_city_El Carmen                                        bool
store_city_Esmeraldas                                       bool
store_city_Guaranda                                         bool
store_city_Guayaquil                                        bool
store_city_Ibarra                                           bool
store_city_Latacunga                                        bool
store_city_Libertad                                         bool
store_city_Loja                                             bool
store_city_Machala                                          bool
store_city_Manta                                            bool
store_city_Playas                                           bool
store_city_Puyo                                             bool
store_city_Quevedo                                          bool
store_city_Quito                                            bool
store_city_Riobamba                                         bool
store_city_Salinas                                          bool
store_city_Santo Domingo                                    bool
store_city_nan                                              bool
store_state_Azuay                                           bool
store_state_Bolivar                                         bool
store_state_Chimborazo                                      bool
store_state_Cotopaxi                                        bool
store_state_El Oro                                          bool
store_state_Esmeraldas                                      bool
store_state_Guayas                                          bool
store_state_Imbabura                                        bool
store_state_Loja                                            bool
store_state_Los Rios                                        bool
store_state_Manabi                                          bool
store_state_Pastaza                                         bool
store_state_Pichincha                                       bool
store_state_Santa Elena                                     bool
store_state_Santo Domingo de los Tsachilas                  bool
store_state_Tungurahua                                      bool
store_state_nan                                             bool
store_type_A                                                bool
store_type_B                                                bool
store_type_C                                                bool
store_type_D                                                bool
store_type_E                                                bool
store_type_nan                                              bool
day_type_Holiday                                            bool
day_type_Work Day                                           bool
day_type_nan                                                bool
special_day_locale_type_National                            bool
special_day_locale_type_nan                                 bool
special_day_locale_Ecuador                                  bool
special_day_locale_nan                                      bool
special_day_reason_Carnaval                                 bool
special_day_reason_Primer dia del ano                       bool
special_day_reason_Recupero puente Navidad                  bool
special_day_reason_Recupero puente primer dia del ano       bool
special_day_reason_nan                                      bool
special_day_reason_subtype_                                 bool
special_day_reason_subtype_nan                              bool
special_day_transferred_False                               bool
special_day_transferred_nan                                 bool
days_since_start                                           int32
day_of_week                                                int32
day_of_month                                               int32
is_15th                                                    int32
is_last_day_of_month                                       int32
day_of_year                                                int32
special_day_offset                                         int32
products_of_family_on_promotion                            int64
dtype: object

In [16]:
#Store cluster didnt have any nulls but was an int64... Pointless, so converted
#processed_train_df.store_cluster[processed_train_df.store_cluster.isna()]
#compressed = processed_train_df.store_cluster.astype('int32')
#compressed.dtype

Series([], Name: store_cluster, dtype: int64)

In [ ]:
#Pnadas uses floats64 because they can represent up to 6 floating points of precision.
#pd.set_option('precision', 2) can be used to change the display  #df.to_csv(file_name, float_format="%.2f") can be used to print
#df.astype(np.float32) Can be use to change the ytpe

In [28]:
processed_train_df.days_since_start[processed_train_df.days_since_start.isna()]
processed_train_df.days_since_start.astype('int32')

1         0
2         0
3         0
4         0
5         0
         ..
99995    25
99996    25
99997    25
99998    25
99999    25
Name: days_since_start, Length: 99999, dtype: int32